<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  
    <div th:fragment="menu">
    		<div class="navbar-default sidebar " role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a th:href="@{/}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Cadastros<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a th:href="@{/contatos}">Contatos</a>
                                </li>
                                
                                 <li>
                                    <a th:href="@{/empresas}">Empresas</a>
                                </li>
                                
                                 <li>
                                    <a th:href="@{/departamentos}">Departamentos</a>
                                </li>
                                
                                 <li>
                                    <a th:href="@{/funcionarios}">Funcionários</a>
                                </li>
                                
                                 <li>
                                    <a th:href="@{/dependentes}">Dependentes</a>
                                </li>
                            </ul>
                            
                        </li>
                        <li>
                            <a th:href="@{/outros/tables.html}"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        <li>
                            <a th:href="@{/outros/forms.html}"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw">
                            </i> Exemplos<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a th:href="@{/outros/panels-wells.html}">Panels and Wells</a>
                                </li>
                                <li>
                                    <a th:href="@{/outros/buttons.html}">Buttons</a>
                                </li>
                                <li>
                                    <a th:href="@{/outros/notifications.html}">Notifications</a>
                                </li>
                                <li>
                                    <a th:href="@{/outros/typography.html}">Typography</a>
                                </li>
                                <li>
                                    <a th:href="@{/outros/icons.html}"> Icons</a>
                                </li>
                               
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
  	</div>
</html>


 